@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.appointment{
    max-width: 585px;
    margin: 50px auto;
    background-color:rgba(93, 98, 181, 1);
    border-radius: 40px;
}
.appointment__container {
    padding: 76px 57px;
    margin: 0 auto;
}
.form-box__name {
    margin: 0 0 48px 0;
}
.form-box__name h3{
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center; 
}
.form-box__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.form-box__input {
    font-family: Roboto;
    padding: 15px 23px;
    border:2px solid rgba(255, 255, 255, 1);
    background-color:rgba(93, 98, 181, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    max-width: 224px;
    font-size: 16px;
}
.form-box__input:focus::placeholder {
    opacity:  0;
    transform: translate(-100%,0px);   
}
.form-box__body input::placeholder {
    color:  rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
    transition:all 0.5s;  
}
.form-box__textarea {
    min-width: 224px;
    width: 100%;
    min-height: 180px;
    border-radius:10px;
    padding: 15px 23px;
    border:2px solid #FFFFFF;
    background-color:rgba(93, 98, 181, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0 0 30px 0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;  
}
textarea:focus::placeholder{
    transform: translate(-100%,0px);
}
textarea::placeholder {
    color:  rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
    transition:all 0.5s;
}
.form-box__button-box{
    display: flex;
    justify-content: flex-end;
}
.form-box__button {
    background-color: #F2726F;
    padding: 9px 30px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    color:  rgba(255, 255, 255, 1);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
}
.summary {
    max-width: 446px;
    background-color: #F5F7FF;
    margin: 0 auto; 
}
.summary__box {
    padding: 17.5px 0 0 0;
    max-width: 386px;
    margin: 0 auto;
}
.summary__title {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 18.5px 0;    
}
.summary__subtitle {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 12.5px 0;    
}
.summary__tltle-text {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 12.5px 0;
    max-width: 287px;
}
.summary__form {
    margin: 0 0 5px 0;
}
.input-box__select{
    width: 100%;
    min-height: 50px;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0 17px 0 17px;
}
.input-box__line input {
    width: 100%;
    min-height: 50px;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0 17px 0 17px;  
}
.input-box__line-label{
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    display: block;   
}   
.summary__radio {
    margin: 17px 0 0 0;   
}
.radio-buttons {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;   
}
.radio-buttons__label {
    display: block;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0 0 5px 0;
}
.radio-buttons__button {
    vertical-align: top;
    min-width: 21px;
    min-height: 21px;
    flex-grow: 0;
}
.radio-buttons__content {
    display: flex;     
}
.radio-buttons__text{
    padding: 0 0 0 8px ;
    margin: 0 0 15px 0;
}
.discount-box {
    padding: 17.5px 0 20px 0;    
}
.discount__title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}
.discount__button-box { 
   padding: 17.5px 0 0 0;
   display: flex;
   justify-content: center;        
}
.discount__button {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 50px;
    border: solid 2px #0156FF;
    color: #0156FF;
    flex-basis: 100%;
    min-height: 50px;
    cursor: pointer;
    background-color: #F5F7FF;
}
.checkout {
    max-width: 684px;
    display: flex;
    flex-flow: column;
    margin: 50px auto;
    align-items: flex-start;
    padding: 0 0 0 60px;
}
.checkout__container {
    min-width: 565px;
}
.checkout__title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;      
}
.input-box__line-label_red {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    display: block;   
}
.input-box__line-label_red::after {
        content: "*";
        top: 0;
        right: 0;
        padding-left: 3px;
        color:  #C94D3F;       
}
.you-can {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: #666666;
    margin: 0 0 20px 0;   
}
.checkout__button-box {
    padding: 17.5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}
.checkout__button {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 50px;
    border: solid 2px #0156FF;
    color: #FFFFFF;
    flex-basis: 100%;
    min-height: 50px;
    cursor: pointer;
    background-color: #0156FF;
    padding:0 90px;
    vertical-align: middle;
}
hr {
    border: none; 
    background-color: #CACDD8; 
    height: 1px;
    margin:0 0 20px 0; 
}
.bottom-hr{
    margin: 32px 0 20px 0;
}
#address-1 {
    margin: 0 0 11px 0;
}
#city-label-1 {
    margin: -11px 0 0 0;
}
.registered {
    max-width: 564px;
    margin: 50px auto;
    background-color: #F5F7FF;
}
.registered__container {
    padding: 40px 57px;
}
.reg-box__title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}
.reg-box__text {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin: 10px 0;   
}
.reg-box__footer {
    display: flex;
    justify-content: flex-start;
    gap: 23px;
}
.registerec__button-box {
    padding: 17.5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}
.registered__button {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 50px;
    border: solid 2px #0156FF;
    color: #FFFFFF;
    flex-basis: 100%;
    min-height: 50px;
    cursor: pointer;
    background-color: #0156FF;
    padding:0 50px;
    vertical-align: middle;
}
.reg-box__link {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #0156FF;
    align-self: center;
    padding: 15px 0 0 0 ;
}
.reg-box__form {
    margin: 0 0 6px 0;
}
.reg-box__line input{
    width: 100%;
    min-height: 50px;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0 17px 0 17px;
}
.reg-box__line-label {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    display: block;   
}
.reg-box__line-label::after {
    content: "*";
    top: 0;
    right: 0;
    padding-left: 3px;
    color:  #C94D3F;
}
footer {
    padding: 50px;
}